@import url(cssreset.css);
@import url("https://fonts.googleapis.com/css2?family=Yaldevi&display=swap");

body {
  background: rgb(70, 70, 70);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.buttons ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.buttons ul li {
  width: 200px;
  height: 50px;
  margin: 20px;
}

.buttons ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 22px;
  background-color: #fff;
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  position: relative;
  transform: rotate(-20deg) skew(30deg);
  box-shadow: -40px -10px 20px 1px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.buttons ul li a::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 100%;
  background-color: #c4c4c4;
  left: -30px;
  top: 15px;
  transform: skewY(135deg);
  transition: 0.5s;
}
.buttons ul li a::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: #efefef;
  left: -15px;
  bottom: -30px;
  transform: skewX(-45deg);
  transition: 0.5s;
}

.buttons ul li a:hover {
  transform: rotate(-20deg) skew(30deg) translate(20px, -20px);
  box-shadow: -40px 30px 40px 20px rgba(0, 0, 0, 0.5);
  color: white;
}

.buttons ul li:hover:nth-child(4) a {
  background-color: rgb(61, 140, 231);
}
.buttons ul li:hover:nth-child(4) a::before {
  background-color: rgb(79, 148, 226);
}
.buttons ul li:hover:nth-child(4) a::after {
  background-color: rgb(30, 121, 226);
}

.buttons ul li:hover:nth-child(3) a {
  background-color: rgb(224, 64, 184);
}
.buttons ul li:hover:nth-child(3) a::before {
  background-color: rgb(241, 87, 203);
}
.buttons ul li:hover:nth-child(3) a::after {
  background-color: rgb(196, 0, 147);
}

.buttons ul li:hover:nth-child(2) a {
  background-color: rgb(240, 147, 25);
}
.buttons ul li:hover:nth-child(2) a::before {
  background-color: rgb(231, 162, 71);
}
.buttons ul li:hover:nth-child(2) a::after {
  background-color: rgb(189, 113, 15);
}

.buttons ul li:hover:nth-child(1) a {
  background-color: rgb(56, 56, 56);
}
.buttons ul li:hover:nth-child(1) a::before {
  background-color: rgb(110, 110, 110);
}
.buttons ul li:hover:nth-child(1) a::after {
  background-color: rgb(46, 46, 46);
}
