@import url(cssreset.css);

body {
  background: rgb(41, 41, 41);
  text-align: center;
  padding-top: 200px;
}

.tabs-container {
  max-width: 700px;
  height: max-content;
  margin: 0 auto;
  text-align: right;
  background-color: #efefef;
  border-bottom: 1px solid #efefef;
}
.tabs-container > input {
  display: none;
}
.tabs-container > label {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.tabs-container .tabs {
  position: relative;
  perspective: 600px;
}
.tabs-container .tabs > div {
  padding: 15px;
  padding-top: 0;
  position: absolute;
  background-color: #efefef;
  border-top: 1px solid #a1a1a1;
  z-index: 0;
  opacity: 0;
  transform-origin: top;
  transform: rotateX(-15deg);
  transition: transform 0.6s, opacity 0.2s;
}
.tabs-container .tabs h4 {
  text-align: right;
  font-size: 22px;
  padding: 20px;
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 15px;
}
.tabs-container .tabs p {
  text-align: right;
  line-height: 30px;
  padding: 10px;
}

/* logic */
.tabs-container > input:checked + label {
  background-color: #219ff3;
  color: #fff;
}
.tabs-container > input#tab-1:checked ~ .tabs div:nth-child(1),
.tabs-container > input#tab-2:checked ~ .tabs div:nth-child(2),
.tabs-container > input#tab-3:checked ~ .tabs div:nth-child(3),
.tabs-container > input#tab-4:checked ~ .tabs div:nth-child(4) {
  z-index: 1;
  opacity: 1;
  transform: rotateX(0deg);
}
